.color-blue {
  color: #2c3e50;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-1rem {
  font-size: 1rem;
}

.font-size-1dot1rem {
  font-size: 1.1rem;
}

.font-size-1dot2rem {
  font-size: 1.2rem;
}

.text-align-left {
  text-align: left;
}

.margin-0 {
  margin: 0;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.padding-0 {
  padding: 0;
}

.padding-2rem {
  padding: 2rem;
}

.padding-8px {
  padding: 8px;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.box-sizing-border-box {
  box-sizing: border-box;
}

.width-100percent {
  width: 100%;
}

.width-200px {
  width: 200px;
}

.button {
  border-color: var(--color-green);
  background-color: var(--color-green);
  color: var(--color-black);
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  --color-green: #00bc77;
  --color-white: white;
  --color-black: black;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 24px;
}

.bg-dark {
  background-color: #12002b;
  padding: 3rem 0;
}

.main-bg-sign {
  padding-bottom: 4.35rem;
}

.main-bg-user {
  padding-top: 1.35rem;
  padding-bottom: 0.01rem;

}

.user-welcome-title {
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 1.3rem;
}

.sr-only {
  border: 0 !important;
  clip-path: inset(1px 1px 1px 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {
  padding: 5px 20px;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item-user {
  margin-right: 12.5px;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo-image {
  max-width: 100%;
}

.fa-user-circle, 
.fa-sign-out {
  margin-right: 5px;
}

.hero {
  background-image: url('/img/bank-tree.avif');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.hero-content {
  top: 2rem;
  background: var(--color-white);
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}


.feature-icon {
  width: 100px;
  border: 10px solid var(--color-green);
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.sign-in-content {
  background-color: var(--color-white);
  width: 300px;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  margin-bottom: 1rem;
}

.input-wrapper input {
  padding: 5px;
}

.footer {
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.account {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  width: 80%;
  padding: 1.5rem;
}

.account-amount {
  font-size: 2.5rem;
}

.account-title {
  font-weight: normal;
}

.edit-button {
  padding: 10px;
}

.user-welcome {
  color: var(--color-white);
}

@media (width >= 720px) {
  :root {
    --row: flex-direction: row;
  }

  .account {
    flex-direction: var(--row);
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }

  @media (width >= 920px) {
    .width-300px-gt920pxmq {
      width: 300px;
    }

    .hero {
      height: 400px;
      background-position: 0% 33%;
    }

    .hero-content {
      position: absolute;
      top: 50px;
      right: 50px;
      margin: 2rem;
    }

    .hero-content .subtitle {
      font-size: 1.5rem;
    }

    .features {
      flex-direction: var(--row);
    }
  }
}